/* ---------- TABLET ---------- */
@media (min-width: 768px) and (max-width: 1023px) { 
    /* NAV BAR */
    .nav-links a {
        font-size: 115%;
    }
    /* ------------------ HOME SECTION ------------------ */
    /* HOME LEFT-SECTION */
    #home .left-section,
    #about .left-section,
    #home h1 {
        margin: 60% 0 5% 10%;
        font-size: 165%;
    }
    #home h2 {
        margin: 0% 0 0 10%;
        font-size: 85%;
    }
    /* HOME RIGHT-SECTION */
    #home .right-section,
    #about .right-section,
    #home .profile-img {
        border-radius: 30px;
    }
    #home .profile-container {
        width: 92%;
        margin: 4.8% 0 0 4%;
        border-radius: 30px;
    }
    #home .profile-outer {
        border-radius: 40px;
        margin: 20% 0 0 25%;
    }

    /* ------------------- HOME CONTACTS-SECTION ------------------- */
    #home .contacts-section {
        margin: 15% 0 0 0;
        gap: 5%;
    }
    #home .gmail-container,
    #home .github-container,
    #home .fb-container {
        width: 60px;
        height: 60px;
    }
    #home .gmail-container {
        margin-left: 24%;
    }

    /* -------------------- ABOUT SECTION -------------------- */
    /* ABOUT UPPER-SECTION */
    .about {
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
    }
    #about .left-section {
        margin: 0 5%;
    }
    
    #about .profile-container {
        margin: 15% 0 1% 30%;
        width: 40%;
    }
    /* ABOUT LOWER-SECTION */
    #about .right-section {
        margin: 0 5%;
    }
    #about h1 {
        margin: 5% 0 1% 24%;
        font-size: 160%;
    }
    #about p {
        margin: 2% 2%;
        font-size: 90%;
    }

    /* ------------------ SKILLS SECTION ------------------ */
    #skills .upper-section {
        gap: 10px;
        margin: 0 5%;
        flex: 1;
    }
    #skills .skills-img,
    #skills .htmlcss-img {
        border-radius: 32px;
    }
    /* SKILLS IMG CONTAINER Properties */
    #skills .java-container,
    #skills .mysql-container,
    #skills .php-container,
    #skills .htmlcss-container {
        width: 22%;
        height: 55%;
        border-radius: 35px;
    }
    #skills .htmlcss-container {
        width: 40%;
        height: 68%;
        margin: 0;
    }
    /* SKILLS MID-SECTION */
    #skills .mid-section {
        margin: 0 5%;
    }
    #skills .midh1 {
        font-size: 160%;
    }
    #skills .ppt-container,
    #skills .canva-container {
        width: 10%;
    }
    /* SKILLS LOWER-SECTION */
    #skills .lower-section {
        margin: 0 5%;
        padding: 0;
    }   
}

/* ---------- MOBILE ---------- */
@media (min-width: 412px) and (max-width: 767px) {
    /* NAV BAR */
    .nav-links {
        gap: 0;
    }
    .nav-links a {
        font-size: 80%;
    }
    /* ------------------ HOME SECTION ------------------ */
    /* HOME UPPER-SECTION */
    .home,
    .about {
        flex-direction: column;
        justify-content: space-between;
        justify-items: center;
    }
    #home .left-section,
    #about .left-section,
    #educbg .left-section {
        margin: 0 0;
    }
    #home h1 {
        margin: 20% 0 0 11%;
        font-size: 130%;
    }
    #home h2 {
        margin: 1% 0 0 18%;
        font-size: 80%;
    }
    /* HOME LOWER-SECTION */
    #home .right-section,
    #about .right-section {
        flex: 2;
        margin: 0;
    }
    #home .profile-img {
        border-radius: 35px;
    }
    #home .profile-container {
        margin: 4.5% 0 0 4.5%;
        width: 182px;
        height: 182px;
        border-radius: 35px;
    }
    #home .profile-outer {
        overflow: hidden;
        margin: 2% 0 0 26.5%;
        width: 200px;
        height: 200px;
        border-radius: 45px;
    }
    /* ------------------- HOME CONTACTS-SECTION ------------------- */
    #home .contacts-section {
        margin: 6% 0 0 0;
        gap: 6%;
    }
    #home .contacts-img {
        width: 100%;
        height: 100%;
    }
    #home .gmail-container,
    #home .github-container,
    #home .fb-container {
        width: 60px;
        height: 60px;
        border-radius: 30%;
    }
    #home .gmail-container {
        margin-left: 22%;
    }

    /* -------------------- ABOUT SECTION -------------------- */
    /* ABOUT UPPER-SECTION */
    #about .profile-img {
        border-radius: 35px;
    }
    #about .profile-container {
        margin: 35% 0 2% 25%;
        width: 50%;
        border-radius: 40px;
    }
    /* ABOUT LOWER-SECTION */
    #about .right-section {
        flex: 1;
    }
    #about h1 {
        margin: 6% 2% 2% 16%;
        font-size: 120%;
    }
    #about p {
        margin: 0 5%;
        font-size: 80%;
    }

    /* -------------------- EDUCATION SECTION -------------------- */
    #educbg .right-section {
        margin: 0;
    }
    #educbg .TIlogo-container,
    #educbg .NUlogo-container,
    #educbg .SAESlogo-container {
        margin: 25% 0 0 20%;
        width: 70%;
        border-radius: 55%;
    }
    #educbg .NUlogo-container {
        margin: 60% 0 0 10%;
    }
    #educbg .SAESlogo-container {
        margin: 30% 0 0 10%;
    }
    /* h1 */
    #educbg .NUh1,
    #educbg .SAESh1 {
        font-size: 120%;
    }
    #educbg .NUh1 {
        margin: 80% 0 1% 0;
    }
    #educbg .SAESh1 {
        margin: 25% 0 1% 0;
    }
    #educbg .TIh1 {
        font-size: 120%;
        margin: 25% 0 1% 0;
    }
    /* h2 */
    #educbg .NUh2,
    #educbg .SAESh2,
    #educbg .TIh2  {
        font-weight: lighter;
        font-size: 75%;
    }

    /* ------------------ SKILLS SECTION ------------------ */
    /* SKILLS UPPER-SECTION */
    #skills .upper-section {
        gap: .5%;
        margin: 0;
        padding: 0;
        flex: 1;
    }
    #skills .skills-img {
        border-radius: 30px;
    }
    /* SKILLS MID-SECTION */
    #skills .mid-section {
        margin: 0;
    }
    #skills .midh1 {
        font-size: 160%;
    }
    #skills .ppt-container,
    #skills .canva-container {
        width: 12%;
        border-radius: 15px;
    }
    /* SKILLS LOWER-SECTION */
    #skills .lower-section {
        margin: 0;
        padding: 0;
    }
    #skills .htmlcss-img {
        width: 100%;
        height: 100%;
        border-radius: 30px;
    }
    /* SKILLS IMG CONTAINER Properties */
    #skills .java-container,
    #skills .mysql-container,
    #skills .php-container,
    #skills .htmlcss-container {
        width: 30%;
        height: 40%;
        border-radius: 30px;
        margin-top: 20%;
    }
    #skills .htmlcss-container {
        width: 60%;
        height: auto;
        margin: 0;
    }
}

/* Skills Section */
@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 20px;
    }
    .skill-item i {
        font-size: 50px;
    }
}

/* Contacts Section */
@media (max-width: 640px) {
    .contact-cards {
    grid-template-columns: 1fr;
    }
    
    .contact-heading {
    font-size: 2rem;
    }
}

/* Projects Section */
@media (max-width: 1024px) {
    .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 640px) {
    .projects-grid {
    grid-template-columns: 1fr;
    }
    
    .projects-heading {
    font-size: 2rem;
    }
}
@media (max-width: 640px) {
    .pagination-dots {
    display: none;
    }
}